<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Consulta de Preço</h1>
        <section class="section">
            <!--   <mat-checkbox (click)="addPerfil(0)" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox (click)="addPerfil(1)" [checked]="true" class="margin" color="primary">Cliente</mat-checkbox>
            <mat-checkbox (click)="addPerfil(2)" class="margin" color="primary">Cliente</mat-checkbox>-->
        </section>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Digite o código de Barra</mat-label>
            <input [(ngModel)]="codigo_barra" name="codigo de barra" matInput placeholder="7894561234561"
                [formControl]="codigobarra" maxlength="100">
            <mat-icon matSuffix>qr_code_scanner</mat-icon>
        </mat-form-field>

        <button (click)="findByBarCode()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4"
            mat-raised-button>Pesquisar</button>
            <button (click)="limpar()"  class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Limpar</button>

    </form>
    <div *ngIf="produto.descricao != ''">
        <hr>
        <h2 style="text-align: center">Detalhes do Produto</h2>
        <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
        <p><strong>Marca:</strong> {{ produto.marca }}</p>
        <p><strong>Preço à vista:</strong> R$ {{ produto.valorvista | number:'1.2-2' }}</p>
        <p><strong>Preço a prazo:</strong> R$ {{ produto.valorprazo | number:'1.2-2' }}</p>
    </div>

    <div *ngIf="!produto">
        <p>Produto não encontrado.</p>
    </div>
</div>